NODE_ENV=production
PORT=3000

# Database (Railway otomatik doldurur)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=poer
DB_USER=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=poer2024gizlisifre123

# Papara
PAPARA_API_KEY=buraya_papara_key_yaz
PAPARA_ENV=sandbox
